extends base 


block content 
    include headerCourse
    
    .container-image 
        .text 
            h1 Build your future today!
            p Explore new technologies, build skills that are foundational for the workplace, and earn digital credentials to show what you’ve learned—all for free.

    
    h2.heading-secondary.heading-quick.ma-bt-lg.heading  OUR Top 3 Courses Are:
    .card-wrapper
        each course in top3Courses
            .card.mb-3
                .row.g-0 
                    .col-md-4 
                        img.img-fluid-rounded-start(src=`img/courses/${course.imageCover}` alt='Course image')
                    .col-md-8 
                        .card-body 
                            h5.card-title= course.name 
                            p.card-text= course.summary 
                .card__footer 
                    p 
                        span.card__footer-value= course.coursePoints
                        span.card__footer-text  points
                    p.card__ratings
                        s
                        span.card__footer-value= course.completedCount
                        span.card__footer-text   users finished  
                    a.card__footer.btn.btn-primary.detail(href=`/course/${course.slug}`) Details  
                            

    .line
    h2.heading-secondary.heading-quick.ma-bt-lg.heading You have many more choices to choose from! Explore more below!
    .card-wrapper
        each course in courses
            .card.mb-3
                .row.g-0 
                    .col-md-4 
                        img.img-fluid-rounded-start(src=`img/courses/${course.imageCover}` alt='Course image')
                    .col-md-8 
                        .card-body 
                            h5.card-title= course.name 
                            p.card-text= course.summary 
                .card__footer 
                    p 
                        span.card__footer-value= course.coursePoints
                        span.card__footer-text  points
                    p.card__ratings
                        span.card__footer-value= course.ratingsAverage
                        span.card__footer-text  star rating  
                    a.card__footer.btn.btn-primary.detail(href=`/course/${course.slug}`) Details  
                            
                    